// Colors //

:root {
  --white-background: #FFFFFF;
  --white-contact: #FFFFFFC9;
  --ligthblack-main-text-color: #3C3C3C;
  --black-send: #000000;
  --white-contact-placeholder: #3C3C3C26;
  --gray-underlines: #707070;
  --ligthgray-article: #F0F1F1;
  --bronw-numbers: #5E5322;
  --white-border: #00000000;
  --yellow-number-article: #FAD648;
  --grey-login: #737373;
  --black-decoration: #1A1818;
}